@model IEnumerable<Tarea5.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Pacientes</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<table class="table" id="tablon">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.Codigo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SueldoNeto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SueldoNeto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Codigo }) |
                @Html.ActionLink("Details", "Details", new { id = item.Codigo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Codigo })
            </td>
        </tr>
    }

</table>




